---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostCard from "@/components/PostCard.astro";
import Pagination from "@/components/Pagination";
import fetchApi from "@/lib/strapi";
import type { DataPost } from "@/interfaces/post";

const pageSize = 10;
const page = parseInt(Astro.url.searchParams.get("page") || "1");
let dataPost: DataPost | null = null;

try {
  dataPost = await fetchApi<DataPost>({
    endpoint: "articles",
    method: "GET",
    query: {
      "pagination[page]": page,
      "pagination[pageSize]": pageSize,
      sort: "pubDate:desc",
      populate: "cover",
    },
  });
} catch (error) {
  console.log("error");
  throw new Error("Error fetching data");
}

if (!dataPost) return;

const totalPages = Math.ceil(dataPost.meta.pagination.total / pageSize);
---

<BaseLayout title="Todos los articulos" imageUrl="" type="website">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-primary-800 dark:text-primary-200 mb-8">
      Últimos Artículos
    </h1>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {dataPost.data.map((post) => <PostCard post={post} />)}
    </div>
    <Pagination currentPage={page} totalPages={totalPages} client:load />
  </main>
</BaseLayout>
