---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import BaseHead from "@/components/BaseHead.astro";

interface Props {
  title: string;
  description?: string;
  url: string;
  imageUrl: string;
  type?: "website" | "article";
}

const {
  title,
  description = "A personal blog about technology and finance",
  url,
  imageUrl,
} = Astro.props;
---

<!doctype html>
<html lang="es" class="h-full">
  <BaseHead
    title={title}
    description={description}
    url={url}
    imageUrl={imageUrl}
  />
  <body
    class="flex flex-col min-h-screen bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100"
  >
    <Header />
    <main class="flex-grow w-full py-8 sm:py-12 lg:py-16">
      <div class="container max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
